.godot/editor/
.godot/filesystem_cache*
.godot/filesystem_update*
.godot/script_editor_cache.cfg
.godot/project_metadata.cfg
.godot/recent_dirs
.godot/global_script_class_cache.cfg
.godot/uid_cache.bin
.DS_Store
Thumbs.db
.godot/shader_cache/
.godot/
